* {
  box-sizing: border-box;
}

.navbar {
  background-color: #242124;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  /* max-width: 100%; */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

#logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 40px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 400;
}

.content {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links a {
    margin-bottom: 10px;
  }
}
